*{ 
    font-family: 'Alef', sans-serif;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.title{
    font-size: 40px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}
#error{
    text-align: center;
    color:red;
    text-decoration: underline;
    font-size: 16px;
}
input, textArea{
    width:100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2%;
}

input::placeholder{
    text-align: center;
    margin-bottom: 5%;
}
#productregister{
    width:100%;
    padding: 14px;
    background-color: #5AADEC;
    font-size: 20px;
    font-weight: bold;
}
#productregister:hover { 
    background-color: #A9A9A9;
}