*{
    font-family: "Alef Hebrew";
}


.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/






/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/* ------------------------------------ */
a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/* ------------------------------------ */

textarea {
    display: block;
    outline: none;
}

/* ------------------------------------ */
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/






/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 70%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 30px;
    margin-bottom: 5%;
    margin-left:auto; 
    margin-right:auto;
}

.wrap-table100 {
    width: 1170px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
table * {
    position: relative;
}
table td, table th {
    padding-left: 8px;
}
table thead tr {
    height: 60px;
    background: #36304a;
}
table tbody tr {
    height: 50px;
}
table tbody tr:last-child {
    border: 0;
}
table td, table th {
    text-align: left;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}



.table100-head th{
    font-size: 18px;
    color: #000;
    line-height: 1.2;
    font-weight: unset;
    background-color:#FFA07A;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}

.column1 {
    width: 6%;
    text-align: center;
}

.column2 {
    width: 15%;
    text-align: center;
}

.column3 {
    width: 2%;
    text-align: center;
}

.column4 {
    width: 5%;
    text-align: center;
}

.column5 {
    width: 8%;
    text-align: center;
}

.column6 {
    width: 10%;
    text-align: center;
    padding-right: 3%;
}
.column7 {
    width: 12%;
}
.quantity_of_product_to_order{
    text-align: center;
    width:90%;
}

.update_order_button{
    float:right;
    width:23%;
    height: 45px;
    margin-top:3%;
    border-radius: 5px;
    background-color: #f3c623;
    font-weight: bold;
    color:white;
    margin-right: 7%;
}

.restart_order_products_button{

    float:right;
    width:19%;
    height: 45px;
    margin-top:3%;
    margin-right: 3%;
    border-radius: 5px;
    background-color: #E73E34;
    font-weight: bold;
    color:white;
}
.send_order_button{
    float:right;
    width:19%;
    height: 45px;
    background-color:#129215;
    margin-top:3%;
    margin-right: 21%;
    border-radius: 5px;
    font-weight: bold;
    color:white;
}
.update_order_button:hover,.restart_order_products_button:hover,.send_order_button:hover{
    background-color: #778899; 
}

.message_contact{
    text-align: right;
}
.message_details_button{

}

.message_details_button:hover {
    text-decoration: underline;
    font-weight: bold;
}
.delete_message{
    color:red;
    font-weight: bold;
}
.delete_message:hover{
    text-decoration: underline;
    cursor: pointer;
}
.title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.subtitle{
    text-align: center;
}

@media screen and (max-width: 992px) {

    table {
        display: block;
    }

    table > *, table tr, table td, table th {
        display: block;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        height: auto;
        padding: 37px 0;
    }
    table tbody tr td {
        margin-bottom: 24px;
        text-align: center !important;
    }
    table tbody tr td:last-child {
        margin-bottom: 0;
    }
    table tbody tr td:before {
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        right: 0;
        top: 0;
        text-align: right;
        margin-right: 3%;
    }
    table tbody tr.fix_message td:nth-child(1):before {
        content: 'מספר הודעה';
    }
    table tbody tr td:nth-child(2):before {
        content: "תאריך פניה";
    }
    table tbody tr td:nth-child(3):before {
        content: "שם הלקוח";
    }
    table tbody tr td:nth-child(4):before {
        content: "מספר טלפון";
    }
    table tbody tr td:nth-child(5):before {
        content: "נושא הפניה";
    }

    .column1,.column2,.column3,.column4,.column5,.column6{
        width: 100%;
    }

    tbody tr {
        font-size: 14px;
    }
    .quantity_of_product_to_order{
        width:20%;
    }
    .update_order_button{
        width:40%;

    }

    .restart_order_products_button{
        width:40%;
    }
    .send_order_button{
        width:90%;
        margin-right: 3%;
    }
    .update_order_button:hover,.restart_order_products_button:hover,.send_order_button:hover{
        background-color: #778899; 
    }
    .column7{
        padding-right: 50%;
    }
}


@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 420px){
    .column1,.column3,.column4,.column5,.column6 {
        padding-right: 20%;
    }
    .column2{
        padding-right: 35%;
    }

    .column6{
        color:green;
    }
}