*{ 
    font-family: 'Alef', sans-serif;
}
.log_in{
    direction: rtl;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.title{
    font-size: 40px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}
input{
    width:100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1%;
}
input::placeholder{
    text-align: center;
}
.submit_button{

    width:100%;
    padding: 14px;
    background-color: #2E8B57;
    font-size: 20px;
    font-weight: bold;
}
button:hover { 
    background-color: #708090;
}

#error{
    text-align: center;
    color:red;
    font-weight: bold;
    text-decoration: underline;

}
