*{
    font-family: 'Alef', sans-serif;
    text-align: right;
}

.management_page{
    clear:both;
}

.management_options{
    margin-top: 2%;
    direction: rtl;
}

.vertical_nav{
    height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

[class*="float_right"] {
    float: right;
}

.tab {
    overflow: hidden; 
    margin-bottom: 10%;
    width:17%;
}
.tab button {
    display: block;
    background-color: #23242b ;
    opacity: 0.8;
    color: white;
    padding: 22px 16px;
    width: 100%;
    outline: none;
    text-align: right;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;

}
.tab button:hover { 
    background-color: #FFD700;
}
.tab button.active {
    background-color: #FFD700;
}

.tabcontent {

    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: #f4f5f5;
    animation: fadeEffect 1s;
    overflow: auto;
    color:black;

}
.tabs{
    margin-bottom: 10%;
}

#homepage{
    display:block;
}
.inventory_title , .costumers_title{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
.boxed {
    height: 130px;
    width: 170px;
    background-color:#23242b;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    position: relative;
    margin-bottom: 5%;
}


.box_info{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color:white;
}
.box_info:hover{
    color:#FFD700;
    text-decoration: none;
}
.img_box{
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top:55px;
    right:50px;
}
.homepage_title{

    font-weight: bold;
    text-align: center;
}

.time {
    color: #FFD700;
    position: absolute;
    top:0;
    left:0;
    font-size: 12px;
    display: inline-block;
}

.hour {
    font-size: 50px;
    margin-right: 13%;
}

.date {
    font-size: 15px;
}
#barchart_top_products_sales{
    width:75%;
    height: 300px;
    float:right;
    margin-top: 3%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#piechart_products_unit_sales_by_categories, #piechart_products_sales_income_by_categories{

    width:95%;
    height: 300px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 3%;
    float:right;
    margin-bottom: 2%;
    direction: unset !important;
    text-align: left;
}

.top_products_sales_title{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
}

.legend{
    margin-top: 3%;
    display: inline-block;
    height: 300px;
    background-color: #808080;
    color:white;
}
.legend_title{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.hr_line{
    border:solid #808080 1px;
}

div.google-visualization-tooltip{
    background-color: #F5F5F5 !important;
}
.hidden_homepage_mobile{
    display: none;
}
.subtitle{
    text-align: center;
}
@media screen and (max-width: 820px){
    #homepage{
        width:650px;
    }
    #barchart_top_products_sales{
        width:90%;
    }
    .legend{
        width:90%;
        text-align: center;
        margin-top: 0%;
        height: 180px;
    }
    .time{
        display: none;
    }

}
@media screen and (max-width: 420px){
    .tab{
        width:25%;
    }
    .management_options{
        width:30%;
        float:left;
        margin-left: 40%;
    }
    #homepage{
        width:300px;
    }
    #barchart_top_products_sales{
        width:60%;
    }
    #piechart_products_unit_sales_by_categories, #piechart_products_sales_income_by_categories{
        width:70%;
    }
    .hidden_homepage_mobile{
        display: block;
        text-align: center;
        font-weight: bold;
    }


}