*{
    font-family: "Alef Hebrew";
    text-align: right;
    direction: rtl;
}

.image_product{
    height: 350px;
    width: 300px;
    /*border:solid 10px red;*/
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.product_title{
    font-weight: bold;
    font-size: 45px;
    text-align: right;
    margin-top: 5%;
}

.product_price{
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    display: inline;
}
.product_price_before_discount{
    text-decoration-line: line-through;
    font-size: 20px;
    opacity: 0.5;
    display: inline;
    margin-right: 5%;

}
.product_code{
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    display: inline;
    margin-right: 3%;
}
p{
    text-align: right;
}
.product_description{
    margin-top: 3%;
}
.product_returns{
    margin-top: 10%;
    margin-bottom: 7%;
}

.margin_top{
    margin-top: 5%;
    display: inline-block;
    width:30%;
    margin-right: 5%;
}

/*qty*/

#qty{
    width:5%;
    font-weight: bold;
    font-size: 20px;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
        ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.minus{
    background-color: #FFD700 !important;
}
.plus{
    background-color: #FFD700 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}

/*button_cart*/
.button_cart{
    background-color: #FFD700 !important;
    border-color:  #FFD700 !important;
}

